@import '../../../assets/mixins.scss';
@import '../../../assets/colors.scss';

.notification-container {
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  .notification {
    width: 280px;
    padding: 10px;
    margin: 20px;
    @include center-child();
    background-color: $complement-1;
    border-radius: 10px;
    @include head-font();
    color: white;
  }
  .info {
  }
  .error {
    background-color: rgb(102, 18, 18);
  }
}
