@import '../../../../assets/colors.scss';
@import '../../../../assets/mixins.scss';

.create-shop {
  @include center-child();
  .form-wrapper {
    margin: 20px;
    width: 70%;
  }
  .create-form {
    padding: 20px;
    margin: 30px;
    background-color: $primary-3;
    border-radius: 10px;
  }
  .buttons-wrapper {
    margin: 30px;
    display: flex;
  }
  .button-wrapper {
    margin: 0 10px;
  }
  .input-file {
    width: 0;
  }
  .file-upload {
    border-radius: 5px;
    background-color: $primary-4;
    padding: 10px;
    margin: 5px;
    display: block;
  }
  .uploaded-image {
    max-width: 200px;
  }
}