.icecream-shops {
  width: calc(100% - 40px);
  margin: 20px;
}
.icecream-shops__owned-list, .icecream-shops__favorite-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.icecream-shops__create {
  align-self: flex-start;
  margin: 0 0 20px 20px;
}
.icecream-shops__overview-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.icecream-shops__overview-wrapper > div:first-child {
  flex: 1;
}
.icecream-shops__edit-button {
  margin-bottom: 20px;
}
.icecream-shops__delete-button {
  margin-bottom: 20px;
  margin-left: 10px;
  background: #B62020;
}