.app-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
.app-layout__topbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 4px solid #98DFEB;
  align-items: center;
  height: 90px;
}
.app-layout__content {
  height: calc(100vh - 94px);
  background-color: #F8F8F8;
  overflow: auto;
}
.app-layout__menu-wrapper {
  position: relative;
  height: 50px;
  width: 50px;
  z-index: 1;
}
.app-layout__menu {
  position: absolute;
  top: 0;
  right: 0;
}
.app-layout__back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #98DFEB;
  border-radius: 25px;
}
.app-layout__back-icon {
  width: 34px;
}
.app-layout__topbar-content-wrapper {
  flex: 1;
  overflow: auto;
}