$primary-0: rgba(170,113, 57,1);	// Main Primary color */
$primary-1: rgba( 68, 34,  0,1);
$primary-2: rgba(119, 67, 15,1);
$primary-3: rgba(221,170,119,1);
$primary-4: rgba(255,222,190,1);

$complement-0: rgba( 37, 92,105,1);	// Main Complement color */
$complement-1: rgba(  1, 34, 42,1);
$complement-2: rgba( 11, 62, 74,1);
$complement-3: rgba( 75,125,137,1);
$complement-4: rgba(133,169,178,1);