@mixin center-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin base-font {
  font-family: 'Open Sans', sans-serif;
}

@mixin head-font {
  font-family: 'Calistoga', cursive;
}