.login {
  background-color: #98DFEB;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login__form {
  min-width: 280px;
  width: calc(100vw - 40px);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__form > .basic-input {
  width: 100%;
}
.login__submit {
  margin: 20px 0 10px 0;
}
.login__register-redirect {
  padding: 20px 0;
  color: white;
}