.notification-container {
  width: 100%;
  position: absolute;
  z-index: 1000;
  bottom: 10px;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 0;
  background: rgba(0,0,0,.4);
  transition: all linear .25s;
  margin: 10px;
  color: white;
}
.notification--show {
  max-height: 50px;
  padding: 10px;
}
.notification--hidden {
  padding: 0;
  max-height: 0;
  overflow: hidden;
}